.App {
  height: 90vh;
}

.circle {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}


button {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

button + button {
  margin-left: 10px;
}

.actions {
  margin-top: 20px;
}